@charset "UTF-8";

/* Debug Overflow*/
/*
* {
   outline: 1px solid red;
  }
*/

/* All pages */
/* Menu bar */
.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }
}

#menu-fixe, #menu-drop{
  background-color: #2c3840;
  z-index: 1;
  padding: 0.75rem 1.25rem;
}

#menu-drop a{
  color: white;
  padding-left: 0.5rem;
}

#menu-hide{
  background-color: #2c3840;
}

#menu-drop a:hover{
  color: #17a9fa;
  border-bottom: 0.2rem solid #1779ba; 
}

/* Footer section */
footer{
  background-color: #666;
  padding: 25px 0px;
}

footer a{
  display: block;
  color: white;
}

footer a:hover, #footer-contact:hover{
  color: rgb(143,255,167);
  transition: 0.4s ease ; 
}

#footer-title{
  color: white;
}

.my-website-footer {
  background: #2c3840;
  color: #8aa0ae;
  padding: 2rem 0 0;
}

.my-website-footer .my-website-footer-menu-social a {
  color: #fefefe;
}

.my-website-footer .column-block {
  margin-bottom: 30px;
}

.my-website-footer > .row {
  margin-bottom: 1rem;
}

@media screen and (max-width: 39.9375em) {
  .my-website-footer .columns {
    margin-bottom: 2rem;
  }
}

.my-website-footer-name {
  color: #fefefe;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.my-website-footer-title {
  color: #fefefe;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.my-website-footer-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.my-website-footer-block .fa {
  font-size: 2rem;
  color: #020304;
}

.my-website-footer-block p {
  padding-left: 1rem;
  line-height: 1.125rem;
  padding-right: 1rem; 
}

.my-website-footer-bottom {
  background: #020304;
  padding: 1rem 0;
}

.my-website-footer-bottom p,
.my-website-footer-bottom .menu {
  margin-bottom: 0;
}

.my-website-footer-bottom .my-website-footer-bottom-links {
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.my-website-footer-bottom .my-website-footer-bottom-links a {
  color: #8aa0ae;
}

@media screen and (max-width: 63.9375em) {
  .my-website-footer-bottom .my-website-footer-bottom-links {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 63.9375em) {
  .my-website-footer-bottom {
    text-align: center;
  }
}

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.7625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin: 0.25rem;
}

.rounded-social-buttons .social-button:hover {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:before {
  font-family: "FontAwesome";
}

.rounded-social-buttons .social-button.facebook:hover{
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.twitter:hover {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:before {
  font-family: "FontAwesome";
}

.rounded-social-buttons .social-button.linkedin:hover {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:before {
  font-family: "FontAwesome";
}

.rounded-social-buttons .social-button.youtube:hover {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
  background: #125688;
}

.rounded-social-buttons .social-button.instagram:before {
  font-family: "FontAwesome";
}

.rounded-social-buttons .social-button.instagram:hover {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
}

.rounded-social-buttons .social-button.pinterest {
  background: #cb2027;
}

.rounded-social-buttons .social-button.pinterest:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.pinterest:hover {
  color: #cb2027;
  background: #fefefe;
  border-color: #cb2027;
}

.rounded-social-buttons .social-button.google-plus {
  background: #dd4b39;
}

.rounded-social-buttons .social-button.google-plus:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.google-plus:hover{
  color: #dd4b39;
  background: #fefefe;
  border-color: #dd4b39;
}

.rounded-social-buttons .social-button.github {
  background: #000000;
}

.rounded-social-buttons .social-button.github:before {
  font-family: "FontAwesome";
}

.rounded-social-buttons .social-button.github:hover {
  color: #000000;
  background: #fefefe;
  border-color: #000000;
}

.rounded-social-buttons .social-button.tumblr {
  background: #32506d;
}

.rounded-social-buttons .social-button.tumblr:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.tumblr:hover {
  color: #32506d;
  background: #fefefe;
  border-color: #32506d;
}

#footer-link-left{
  padding: 5px 0px;
}

#footer-link-right{
  padding: 5px 0px;
}

#copyright{
  background-color: #2c3840;
  color: white;
  text-align: center;
  padding: 15px 0px;
  margin-right: 0px;
  margin-left: 0px;
}

/* Index page*/
/* Photos sections */
.intro-content-section {
  background: #e6e6e6;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.intro-content-section .button.round {
  border-radius: 5000px;
  text-transform: uppercase;
  margin-bottom: 0;
  background-color: rgb(0,102,162);
  font-size: 13px;
}

.intro-content-section .button.round:hover{
  color: #0a0a0a;
  background-color: #22bb5b;
  transition: 0.6s ease ;
}

.intro-content-section .intro-content-section-img {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  -webkit-flex: 1 0 100%;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

.intro-content-section .intro-content-section-img img {
  width: 100%;
}

@media screen and (min-width: 40em) {
  .intro-content-section .intro-content-section-img {
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}

.intro-content-section .intro-content-section-block {
  padding: 1rem;
  -webkit-flex: 1 0 100%;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
  background: #e6e6e6;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (min-width: 40em) {
  .intro-content-section .intro-content-section-block {
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    padding: 2rem;
  }
}

.intro-content-section-block-header {
  font-size: 30px;
}

.intro-content-section-block-subheader {
  font-size: 18px;
  color: black;
}

/* News section */
#news{
  background-color: #d6d6d6;
  padding: 25px 15px; 
  color: black;
}
.news-block-grid-header {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}

.news-block {
  padding: 0px 15px; 
  padding-bottom: 25px;
}

.news-block .news-block-title {
  font-weight: 600;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  color: #404040;
}

.news-block a:hover p {
  color: rgb(0, 102, 162);
  transition: 0.5s ease ;
}




/* Contact page */
/* Email forms section */
#send-email{
  padding: 25px 0px;
  background-color: #d6d6d6; 
}

.send-email-form {
  padding: 1rem 1.5em;
  border-radius: .5rem;
  background-color: #d6d6d6;
}

.send-email-form h4 {
  color: black;
  margin-bottom: 1rem;
  font-weight: 900;
}

.send-email-form label {
  color: black;
  /*color: #adadad;*/
  letter-spacing: 1px;
  font-weight: 900;
  margin-bottom: 1rem;
}

.send-email-form input {
  color: white;
  background-color: #7d859f;
}

.send-email-form input:focus {
  opacity: 0.8;
  color: black;
}

.send-email-form textarea {
  color: white;
  background-color: #7d859f;
}

.send-email-form textarea:focus {
  opacity: 0.8;
  color: black;
}

.send-email-form-username,
.send-email-form-password {
  border-radius: 30px;
  border: none;
  opacity: .75;
  transition: all ease .4s;
}

.send-email-form-message {
  border-radius: 15px;
  border: none;
  opacity: .75;
  transition: all ease .4s;
}

.send-email-form-button {
  border-radius: 30px;
  border: 1px solid #3d454f;
  color: #3d454f;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  padding: 1rem;
  transition: all ease .6s;
}

.send-email-form-button:hover {
  background-color: #7d859f;
  border-color: #7d859f;
  color: white
}

/* Social media section*/
#social-media{
  padding: 15px 0px;
  background-color: #e6e6e6;
}

.social {
  margin-right: 1rem;
}

.social.facebook {
  background-color: #3b5998;
  color: #fefefe;
}

.social.facebook:hover, .social.facebook:focus {
  background-color: #2f477a;
  color: #fefefe;
}

.social.twitter {
  background-color: #55acee;
  color: #fefefe;
}

.social.twitter:hover, .social.twitter:focus {
  background-color: #1a8fe8;
  color: #fefefe;
}

.social.linkedin {
  background-color: #007bb5;
  color: #fefefe;
}

.social.linkedin:hover, .social.linkedin:focus {
  background-color: #006291;
  color: #fefefe;
}

.social.youtube {
  background-color: #bb0000;
  color: #fefefe;
}

.social.youtube:hover, .social.youtube:focus {
  background-color: #960000;
  color: #fefefe;
}

.social.instagram {
  background-color: #125688;
  color: #fefefe;
}

.social.instagram:hover, .social.instagram:focus {
  background-color: #0e456d;
  color: #fefefe;
}

.social.google-plus {
  background-color: #dd4b39;
  color: #fefefe;
}

.social.google-plus:hover, .social.google-plus:focus {
  background-color: #be3221;
  color: #fefefe;
}

.social.github {
  background-color: #000000;
  color: #fefefe;
}

.social.github:hover, .social.github:focus {
  background-color: black;
  color: #fefefe;
}

.social > .fa {
  color: #fefefe;
  margin-right: .25rem;
}

/* AboutMe page */
/* Profile section */

.profile-section-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d6d6d6;
  padding: 2rem 0rem 0rem;
}

#profile-title{
  padding: 15px 0px 0px;
  border-bottom: 0.125rem solid #1779ba;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}

.profile-section-header-description {
  list-style-type: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0.25rem 0;
  padding: 15px 0px 0px;
}

.profile-section-header-description li {
  -webkit-flex: 1 0 200px;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px;
  text-align: center;
  padding: 0 1.25rem;
  position: relative;
  white-space: nowrap;
}

.profile-section-header-description li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
}

.profile-section-header-description li:first-child:before {
  content: "";
}

.profile-section-header-description a{
  color: black;
}

.profile-section-header-menu {
  list-style-type: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.profile-section-header-menu li {
  margin: 1.25rem;

}

.profile-section-header-menu li a {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

#small-medium-portfolio-menu li{
  padding: 10px 0px;
  font-size: 0.75rem;
  list-style-type: none;   
}

/* Profile section menu */
.menu-hover-lines {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.35s ease;
}

.menu-hover-lines li a {
  padding: 0.75rem 0;
  color: black;
  position: relative;
  margin-left: 1rem;
}

.menu-hover-lines li:first-child a {
  margin-left: 0;
}

.menu-hover-lines li.active > a {
  background-color: transparent;
}

.menu-hover-lines a:before,
.menu-hover-lines a::after {
  height: 3px;
  position: absolute;
  content: '';
  transition: all 0.35s ease;
  background-color: #1779ba;
  width: 0;
}

.menu-hover-lines a::before {
  top: 0;
  left: 0;
}

.menu-hover-lines a::after {
  bottom: 0;
  right: 0;
}

.menu-hover-lines a:hover,
.menu-hover-lines li.active > a {
  color: #0a0a0a;
  transition: all 0.35s ease;
}

.menu-hover-lines a:hover::before,
.menu-hover-lines .active a::before,
.menu-hover-lines a:hover::after,
.menu-hover-lines .active a::after {
  width: 100%;
}

/* CV buttons*/

#pt-button{
  color: #fefefe;
}

/* Discover more about me */

#discover-section{
  background-color: #e6e6e6;
}

.life-section {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.life-section-inner {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  max-width: 100%;
}

@media print, screen and (min-width: 40em) {
  .life-section-inner {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

@media print, screen and (min-width: 40em) {
  .life-section-inner {
    -webkit-flex: 0 0 83.33333%;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    max-width: 83.33333%;
  }
}

@media print, screen and (min-width: 40em) and (min-width: 40em) {
  .life-section-inner {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.life-section-header {
  padding: 1.5rem 0;
  margin: 0;
  line-height: 1;
  text-align: center;
}

.life {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid #e6e6e6;
  padding: 1.5rem 0;
}

@media print, screen and (min-width: 40em) {
  .life {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.life-img img {
  width: 100%;
}

@media print, screen and (min-width: 40em) {
  .life-img img {
    max-width: none;
    width: auto;
  }
}

.life-content {
  padding: 1.5rem 0 0;
  color: #0a0a0a;
}

@media print, screen and (min-width: 40em) {
  .life-content {
    padding: 0 0 0 1.5rem;
  }
}

.life-content-header {
  font-size: 1.5rem;
}

.life-content-description {
  font-size: 1.25rem;
}

.life-content-author,
.life-content-time {
  font-size: 0.875rem;
  margin-bottom: 0;
  color: #8a8a8a;
}

.life-reversed .life-content {
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  padding: 0 1.5rem 0 0;
}

.life-reversed .life-img {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  padding: 0 0 1.5rem 0;
}

@media print, screen and (min-width: 40em) {
  .life-reversed .life-content {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .life-reversed .life-img {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}

/* Testimonials section */
.testimonials-section {
  background: #d6d6d6;
  padding: 2rem 10rem;
}

.testimonials-section .testimonials-container .orbit-previous {
  color: #0a0a0a;
  left: -1rem;
}

.testimonials-section .testimonials-container .orbit-next {
  color: #0a0a0a;
  right: -1rem;
}

.testimonials-section .testimonial {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 1rem;
}

.testimonials-section .profile-pic {
  max-width: 100px;
  border-radius: 50%;
}

.testimonials-section .testimonials-quotation {
  margin-left: 3rem;
  margin-bottom: 0rem;
  padding: 1rem;
  position: relative;
}

.testimonials-section .testimonials-quotation::before {
  content: "“";
  font-size: 5rem;
  color: #b6b6b6;
  position: absolute;
  top: -2.5rem;
  left: -1.5rem;
}

.testimonials-section .testimonials-quotation::after {
  content: "”";
  font-size: 5rem;
  color: #b6b6b6;
  position: absolute;
  bottom: -4rem;
  right: -.5rem;
}

@media screen and (max-width: 39.9375em) {
  .testimonials-section .testimonials-quotation {
    margin-left: 0;
  }
}

#testimonial-author{
  color: black;
}

/* Projects Page */

.project-intro {
  text-align: center;
  padding: 2rem 0rem;
}

.project-intro .fi {
  font-size: 5rem;
  margin-bottom: 1rem;
  color: #1779ba;
}

.project-intro-headline {
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.project-intro-desc{
  text-align: justify;
}

.project-intro .button.round {
  border-radius: 5000px;
  text-transform: uppercase;
  margin-bottom: 0;
  background-color: rgb(0,102,162);
  font-size: 13px;
}

.project-intro .button.round:hover{
  color: #0a0a0a;
  background-color: #22bb5b;
  transition: 0.6s ease ;
}

#project-type-intro{
  padding-bottom: 1rem;
}


.flip-card {
  -webkit-perspective: 1000;
          perspective: 1000;
  border: 0;
  background: transparent;
}

.flip-card:hover .flip-card-inner,
.flip-card.hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card,
.flip-card-inner-front,
.flip-card-inner-back {
  width: 100%;
  height: 20rem;
}

.flip-card-inner {
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
}

.flip-card-inner-front,
.flip-card-inner-back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.flip-card-inner-front {
  background: url(https://images.pexels.com/photos/179124/pexels-photo-179124.jpeg?w=940&h=650&auto=compress&cs=tinysrg) 0 0 no-repeat;
  z-index: 2;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flip-card-inner-front span {
  width: 100%;
  text-align: center;
  background: rgba(254, 254, 254, 0.8);
  padding: 0.25rem 0;
  font-size: 1.25rem;
  font-weight: bold;
}

.flip-card-inner-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background: #cacaca;
  padding: 1rem;
}

.flip-card-inner-back-title {
  font-weight: bold;
}

.flip-card-inner-back-text {
  line-height: 1.3;
}

#button-project-details{
  padding: 0.75rem 1rem;
  border-radius: 5000px;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 13px;
  color:white;
}

#projects-cards-list{
  padding: 1rem 0rem;
}

.work-feature-block {
  padding: 10px 0;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
}

.work-feature-block-image {
  display: block;
  margin: auto;
  padding: 10px 0;
}

/* Awards Page */

.card-profile-stats {
  margin: 0 0 1.25rem;
  padding: 1.25rem;
  background: #fefefe;
}

.card-profile-stats .card-profile-stats-intro {
  text-align: center;
}

.card-profile-stats .card-profile-stats-intro .card-profile-stats-intro-pic {
  border-radius: 50%;
  margin: 0 0 1.25rem;
}

.card-profile-stats .card-profile-stats-intro .card-profile-stats-intro-content p:last-child {
  margin: 0;
}

.card-profile-stats .card-profile-stats-container {
  text-align: center;
}

.card-profile-stats .card-profile-stats-container .card-profile-stats-statistic {
  margin: 0 0 1.25rem;
}

.card-profile-stats .card-profile-stats-container .card-profile-stats-statistic p:last-child {
  margin: 0;
}

.card-profile-stats .card-profile-stats-more .card-profile-stats-more-link {
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  color: #0a0a0a;
  padding: 0.5rem;
  cursor: pointer;
}

.card-profile-stats .card-profile-stats-more .card-profile-stats-more-content {
  display: none;
}


@media print, screen and (min-width: 64em) {
  .card-profile-stats .card-profile-stats-intro {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    text-align: left;
  }
  .card-profile-stats .card-profile-stats-intro .card-profile-stats-intro-pic {
    margin: 0 1.25rem 0 0;
    max-width: 250px;
  }
  .card-profile-stats .card-profile-stats-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}

/* Skills Page*/

.card-info {
  background: #fefefe;
  border: 1px solid #8a8a8a;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  margin: 1rem 0;
  overflow: hidden;
  border-radius: 0;
}

.card-info .card-info-label {
  border-color: transparent #8a8a8a transparent transparent;
  border-color: rgba(255, 255, 255, 0) #8a8a8a rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.card-info.primary {
  border-color: #1779ba;
}

.card-info.primary .card-info-label {
  border-color: transparent #1779ba transparent transparent;
  border-color: rgba(255, 255, 255, 0) #1779ba rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.card-info.secondary {
  border-color: #767676;
}

.card-info.secondary .card-info-label {
  border-color: transparent #767676 transparent transparent;
  border-color: rgba(255, 255, 255, 0) #767676 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.card-info.info {
  border-color: #37a0e6;
}

.card-info.info .card-info-label {
  border-color: transparent #37a0e6 transparent transparent;
  border-color: rgba(255, 255, 255, 0) #37a0e6 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.card-info.alert {
  border-color: #cc4b37;
}

.card-info.alert .card-info-label {
  border-color: transparent #cc4b37 transparent transparent;
  border-color: rgba(255, 255, 255, 0) #cc4b37 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.card-info.success {
  border-color: #3adb76;
}

.card-info.success .card-info-label {
  border-color: transparent #3adb76 transparent transparent;
  border-color: rgba(255, 255, 255, 0) #3adb76 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.card-info.warning {
  border-color: #ffae00;
}

.card-info.warning .card-info-label {
  border-color: transparent #ffae00 transparent transparent;
  border-color: rgba(255, 255, 255, 0) #ffae00 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.card-info .card-info-label {
  border-style: solid;
  border-width: 0 4.375rem 2.5rem 0;
  float: right;
  height: 0px;
  width: 0px;
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.card-info .card-info-content {
  padding: 0.5rem 1.5rem 0.875rem;
}

.card-info .card-info-label-text {
  color: #fefefe;
  font-size: 0.75rem;
  font-weight: bold;
  position: relative;
  right: -2.5rem;
  top: 2px;
  white-space: nowrap;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}





