*{
	box-sizing: border-box; 
}

.grid {
	height: auto;
	width: auto;
	display: grid;
	grid-template-columns: 5% 1fr 1fr 1fr 1fr 1fr 1fr 5%;
	grid-template-rows: 75px 2fr 2fr 2fr 2fr 2fr 1fr;
  background-color: rgba(135,206,250,0.75);
}

h1{
  font-size: 50px;
}

header {
  grid-column: 1 / 9;
  grid-row: 1 / 2;
	background-color: rgb(255,140,0);
	position: static;
	width: 100%;
  height: auto;
  line-height: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;
}

ul {
  margin: 20px auto;
  padding: 0px 100px;
  text-align: right;
}

/*Informations of the letters in the header*/
li {
	color: rgb(240,240,240);
	font-weight: 500;
	display: inline-block;
	width:200px;
}

nav li{
	font-size: 22.5px;
	display: inline-block;
	width: 200px;
 }

 a{
  text-decoration: none;
  color: inherit;
}

header a:hover{
  color: black;
}

 .header_links{
 	position: static;
 }

/*AboutMe Image Section*/

.aboutMeImage {
  grid-column: 1 / 5;
  grid-row: 2 / 4;
  position: static
}

/*AboutMe Section*/

.aboutMe {
  grid-column: 5 / 9;
  grid-row-start: 2 / 4;
  color: black;
  background-color: rgba(135,206,250,0.8);
  height: 200%;
  position: static
}

.aboutMe h2{
  font-size: 50px;
}

.aboutMe p{
  font-size: 25px;
}

/*Education Section*/

.education {
  grid-column: 1 / 9;
  grid-row: 4 / 6;
  background-color: rgba(240,240,240,0.8);
} 

/*Skils Section*/

.skills {
  grid-column: 1 / 9;
  grid-row: 6 / 8;
  background-color: rgba(135,206,250,0.75);
} 

/*Awards Section*/

.awards {
  grid-column: 1 / 9;
  grid-row: 8 / 10;
  background-color: rgba(240,240,240,0.8);
}

/*Contact Section*/

.contact {
  background-color: rgba(135,206,250,0.75);
  grid-column: 1 / 9;
  grid-row: 10 / 12 ;
  padding: 0px  10%;
  height: 625px;
}

.contact h1{
  text-align: center;
  font-size: 30px; 
}

.contact label{
  font-size: 22.5px;
  position: relative;
  grid-column: 2 / 3;
  grid-row: 10 / 11;
}

.contact input{
  border-radius: 5px;
  border: 1px solid rgb(0,0,0);
  height: 40px;
  width: 100%;
  font-size: 150%;
}

.contact textarea{
  border-radius: 5px;
  resize: none;
  border: 1px solid rgb(0,0,0);
  height: 200px;
  width: 100%;
  font-size: 200%;
}

.contact form .submit{
  text-align: center;
  background-color: rgb(255,140,0);
  height: 30px;
  width: 100%;

}

/*Footer*/

footer {
  grid-column: 1 / 9;
  grid-row: 12 / 13;
	font-size: 20px;
	background-color: rgba(240,240,240,0.8);
	color: rgb(0,0,0);
	text-align: center;
}

.social{
  font-size: 18px;
}
