*{
	box-sizing: border-box; 
}

.grid {
	height: auto;
	width: auto;
	display: grid;
	grid-template-columns: 10% 1fr 1fr 1fr 1fr 1fr 1fr 10%;
	grid-template-rows: 75px 2fr 2fr 2fr 1fr;
  background-color: rgba(212,212,212,50);
}

header {
  grid-column: 1 / 9;
  grid-row: 1 / 2;
	background-color: rgba(255,140,0,30);
	position: absolute;
	width: 99%;
	z-index: 10;
	text-align: right;
}

ul {
  margin: 20px auto;
  padding: 0px 100px;
  text-align: right;
}

/*Informations of the letters in the header*/
li {
	color: rgb(240,240,240);
	font-weight: 500;
	display: inline-block;
	width:200px;
}

nav li{
	font-size: 22.5px;
	display: inline-block;
	width: 200px;
 }

 a{
  text-decoration: none;
  color: inherit;
}

header a:hover{
  color: blue;
}

 .header_links{
 	position: absolute;
 }

.box{
  height: 750px;
  width: auto;
  background-color: white;
  color: black;
  border-radius: 5px;
  border: 2px black solid;
}

/*AboutMe Section*/

.aboutMe {
  grid-column: 2 / 8;
  grid-row-start: 2;
  grid-row-end: 4;
}

/*Skils Section*/

.skills {
  grid-column: 2 / 8;
  grid-row: 4 / 6;
} 

/*Awards Section*/

.awards {
  grid-column: 2 / 8;
  grid-row-start: 6 ;
  grid-row-end: 8;
}

/*Contact Section*/

.contact {
  background-color: rgba(212,212,212,50);
  grid-column: 2 / 8;
  grid-row: 8 / 10 ;
  padding: 0px  20px;
  height: 625px;
}

.contact h1{
  text-align: center;
  font-size: 30px; 
}

.contact label{
  font-size: 22.5px;
  position: relative;
  grid-column: 2 / 3;
  grid-row: 8 / 9;
}

.contact input{
  border-radius: 5px;
  border: 1px solid rgb(0,0,0);
  height: 40px;
  width: 100%;
  font-size: 150%;
}

.contact textarea{
  border-radius: 5px;
  resize: none;
  border: 1px solid rgb(0,0,0);
  height: 200px;
  width: 100%;
  font-size: 200%;
}

.contact form .submit{
  text-align: center;
  background-color: rgb(10,200,80);
  height: 30px;
  width: 100%;

}

/*FOOTER*/

footer {
  grid-column: 1 / 9;
  grid-row: 10/11;
	font-size: 18px;
	background-color: rgba(212,212,212,50);
	color: rgb(0,0,0);
	text-align: center;
}

.social{
  font-size: 18px;
}

/*

body {
  background-color: #FFF;
  margin: 0 auto;
}



ul {
  margin: 30px auto;
  padding: 0 20px;
  text-align: center;
}

li {
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

li:hover {
  color: #DBE9EE;
}

h1 {
  color: #466995;
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  color: #333;
  font-family: 'Varela Round', sans-serif;
  font-size: 26px;
  font-weight: 100;
  margin: 0 auto 20px auto;
}

h3 {
  color: #466995;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  padding: 30px;
}

h4 {
  color: #466995;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase
}

p {
  color: #333;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
}


*/